{% extends 'base.html' %}
{% block content %}
<div class="delete-account-container">
  <div class="delete-account-box">
    <h1 class="delete-account-h1">Delete Account</h1>
    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
    
    <form method="post" action="{% url 'delete_account' %}" class="delete-account-form">
      {% csrf_token %}
      <input type="submit" value="Delete Account" class="delete-submit"/>
    </form>
    
    {#User should be able to go back to home page if canceled#}
    <a href="{% url 'profile' %}">Cancel</a>
  </div>
</div>
{% endblock %}